.Textfield {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin: 5px;
}

#message {
    background-image: url(./questionmark.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

[tooltip] {
    position: relative;
    display: inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 5%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    z-index: 11000;
    opacity: 0;
}

[tooltip-position='top']::before {
    left: 90%;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 5%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    min-width: 200px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 11000;
    opacity: 0;
}

[tooltip-position='top']::after {
    left: 50%;
}

[tooltip]:hover::after {
    opacity: 1;
    transition-delay: 1s;
}

[tooltip]:hover::before {
    opacity: 1;
    transition-delay: 1s;
}
