.AnimalInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 30vw;
    min-width: 530px;

}

.AnimalMessage {
    margin-bottom: 5vh;
    width: 30vw;
    min-width: 530px;
    padding: 15px;
}

.AnimalMessageWrapper {
    margin-top: 5vh;
    border: 1px;
    border-style: solid;
    border-color: #000;
    width: 30vw;
    min-width: 530px;
    padding: 15px;

}

.pet-picture {
    margin: 5px;
}

.AnnouncementCard {
    margin-bottom: 5vh;
}