.Info {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 30vw;
}

.Message {
    margin-bottom: 5vh;
    width: 30vw;
}

.MessageWrapper {
    margin-top: 5vh;
    border: 1px;
    border-style: solid;
    border-color: #000;
    padding: 15px;
}