.Textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    margin: 5px;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 11px;
    min-height: 15vh;
}

#message {
    background-image: url(./questionmark.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

