
.Button {
    min-height: 30px;
    min-width: 50px;
    background-color: #e30613;
    color: white;
    margin: 5px;
    font-weight: bold;
    justify-self: center;
    border: none;
}

.Button:hover {
    box-shadow: 2px 2px #000;
    cursor: pointer;
}

.Button:disabled {
    background-color: #ff9999;
}

[tooltip]:disabled {
    position: relative;
    display: inline-block;
}

[tooltip]:disabled::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    z-index: 11000;
    opacity: 0;
}

[tooltip-position='top']:disabled:hover::before {
    left: 50%;
}

[tooltip]:disabled::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    min-width: 200px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 11000;
    opacity: 0;
}

[tooltip-position='top']:disabled::after {
    left: 50%;
}

[tooltip]:disabled:hover::after, [tooltip]:disabled:hover::before {
    opacity: 1;
    transition-delay: 0.5s;
}
