.AnimalApp {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    align-items: center;
    display: flex;
    flex-direction: column;

}

p {
    padding: 5px;
    width: 300px;
}

.Body {
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.AnimalMap {
    height: 80vh;
    width: 70vw;
    min-width: 300px;
    margin: 15px;
}

.AnimalFormButton {
    justify-self: center;
}

.AnimalFormWrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: 80vh;
    width: 330px;
    border: 1px solid #000;
    align-content: center;
    align-items: center;
}

.AnimalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    width: 156px;
    font-size: 1em;
    justify-items: center;

}

.PictureButton {
    margin: 3px;
}

@media only screen and (max-width: 600px) {

    .AnimalForm form {
        flex-direction: column;
    }

    .Body {
        width: 100vw;
        flex-direction: column;
        align-items: center;

    }

    .AnimalMap {
        height: 60vh;
        width: 95vw;
        max-width: 580px;
        margin: 5px;

    }

    .AnimalFormWrapper {
        margin: 15px;
        border: 1px solid #000;
        width: 95vw;
    }

    p {
        width: 95vw;
    }

    .AnimalMapContainer {
        font-size: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100vw;
        max-width: 600px;
    }
}

input[type="file"]::-ms-browse {
    min-height: 30px;
    min-width: 50px;
    background-color: #e30613;
    color: white;
    margin: 5px;
    font-weight: bold;
    justify-self: center;
    border: none;
}

input[type="file"]::-ms-browse:hover {
    box-shadow: 2px 2px #000;
}

input[type="file"]::-webkit-file-upload-button {
    min-height: 30px;
    min-width: 50px;
    background-color: #e30613;
    color: white;
    margin: 5px;
    font-weight: bold;
    justify-self: center;
    border: none;
}

input[type="file"]::-webkit-file-upload-button:hover {
    box-shadow: 2px 2px #000;
}
