.AppBar {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.LeftSideBar {
    display: flex;
}

.Slogan {
    display: flex;
    align-self: center;

}

h2 {
    margin-left: 3vw;
    font-size: 0.8em;
    font-weight: lighter;
    width: 260px;
}

.App-logo:hover {
    cursor: pointer;
}

.App-logo {
    max-width: 200px;
}

.RightSideBar {
    display: flex;
}

.AnimalsLink:hover {
    cursor: pointer;
}

.AnimalsLink {
    margin-left: 25vw;
    align-self: center;
    font-size: 0.8em;
    font-weight: lighter;
    color: #000;
    margin-right: 5vw;
}

@media only screen and (max-width: 600px) {
    .App-logo {
        max-width: 120px;
    }

    h2 {
        margin-left: 3vw;
        font-size: 0.7em;
        font-weight: lighter;
        width: 260px;
    }
}

@media only screen and (max-width: 400px) {
    .App-logo {
        width: 120px;
    }

    h2 {
        display: none;
    }
}

