.App {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.MapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 90vh;
    width: 100vw;
}

.Map {
    height: 80vh;
    width: 100vw;
}

.Form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@media only screen and (max-width: 600px) {
    .Form form {
        flex-direction: column;
    }

    .Map {
        height: 50vh;
        width: 100vw;
    }

    .MapContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 100vw;
    }
}

