.App-Welcome {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.App-Welcome .AppBar .RightSideBar :only-child{
    display: none;
}

.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 1vmin);
    height: 90vh;
    width: 100vw;
}

h1 {
    font-weight: lighter;
    font-size: calc(10px + 2vmin);
}




@media only screen and (max-width: 600px) {
    .Form form {
        flex-direction: column;
    }

    .Map {
        height: 50vh;
        width: 100vw;
    }

    .Welcome {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 100vw;
    }
}

